extends layout

block content
  if registrations.length
    div(class="container")
      div(class="row")
        div(class="col-md-3")
        div(class="col-md-6")
          table(class="table")
            thead(class="black white-text")
              tr
                th Name
                th Email
            each registration in registrations
              tr
                td= registration.name
                td= registration.email
      div(class="col-md-3")
  else
    p No registrations yet :(
