doctype html
html
  head
    title=`${title}`
    link(rel='stylesheet' href='mdb.min.css')
    
  body
    div(class='container')
      h1 My Amazing App
    
    block content
    
    script(src='mdb.min.js' type='text/javascript')
